.homeParent {
    height: 100vh;
    overflow: hidden;
}

.home-sidebar {
    flex: 0 0 14%;
    height: 100vh;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-right: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

.home-content {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.home-content::-webkit-scrollbar {
    width: 0;
}

.home-content {
    scrollbar-width: none;
}

/*---------------RESPONSIVE----------------*/

@media (min-width: 768px) and (max-width: 1199px) {

    .home-sidebar {
        flex: 0 0 6%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .home-content {
        padding: 10px 0;
    }
}

@media (max-width: 767px) {

    .home-content {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    .home-sidebar {
        display: none;
    }

    .home-content {
        padding: 0;
        padding-bottom: 50px!important;
    }

}